* {
    font-family: "Cherry Bomb One", system-ui;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    text-align: center;
    background-color: white
}

.container {
    background-color: #F7F0FF;
    margin: 20px 80px 20px 80px;
}

.films {
    background-color: #F7F0FF;
    margin: 20px 80px 20px 80px;
    display: flex;
    flex-wrap: wrap;
}

h1 {
    flex: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.sec {
    justify-content: space-evenly;
}

.sec a {
    text-decoration: none;
    color: black;
    justify-content: space-evenly;
}

.sec img {
    width: 20%;
    margin: 10px;
}

.sec img:hover {
    transform: scale(1.1);
}
