* {
    font-family: "Cherry Bomb One", system-ui;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    text-align: center;
    background-color: white;
}

.container {
    background-color: #F7F0FF;
    margin: 20px 80px 20px 80px;
}

.heading {
    position: relative;
}

.logo img {
    position: absolute;
    height: 70px;
    left: 40px;
    top: 20px;
}

.logo img:hover {
    transform: scale(1.1) rotate(10deg);
}