* {
    font-family: "Cherry Bomb One", system-ui;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
    text-align: center;
    background-color: white
}

section {
    border-color: black;
    border-style: solid;
}

.container {
    background-color: #F7F0FF;
    margin: 20px 80px 20px 80px;
}

#photobooth {
    margin: 0 auto;
    width: 31%;
    margin-bottom: 3rem;
}

button {
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
}

button a {
    text-decoration: none;
    font-size: 2em;
    color: black;
}

button:hover {
    background-color: #D3B8FF;
}

.logo img:hover {
    transform: scale(1.1) rotate(10deg);
}

.heading {
    position: relative;
}

.logo img {
    position: absolute;
    height: 70px;
    left: 40px;
    top: 20px;
}

.logo img:hover {
    transform: scale(1.1) rotate(10deg);
}

h1 {
    flex: none;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}